@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background: #f2edeb; */
  background: #e9f1e4;
}

video {
  /* height: 95vh;  */
  object-fit: cover;
  border-radius: 20px;
  /* border: solid 1px #745f47; */

  @media only screen and (max-width: 600px) {
    /* width: 98vw; */
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.blink_me2 {
  animation: blinker 1s linear infinite;
  animation-delay: 0.15s;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fcloud01 {
  top: 0;
  z-index: 100;
  animation: drift 10s linear infinite;
}
.fcloud02 {
  top: 0;
  z-index: 500;
  animation: drift 10s 4s linear infinite both;
}

@keyframes drift {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(400px);
  }
}
